*{
  margin: 0;

}
body{
/* background-color: rgb(45, 45, 45); */
background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(45,45,45,1) 27%);
background-repeat: no-repeat;
height: 100%;
color: rgb(241, 241, 241);
}
.layouts svg, .menu a svg{
  height: 30px;
  width: 30px;
}
.menu a svg{
  height: 30px;
  width: 30px;
  display:block;
}
.menu a{
  color:rgb(241, 241, 241);
}
.menu a:visited{
  color:rgb(241, 241, 241);  
}
/* .clear{
  background: none;
  border: none;
} */
.layouts svg:hover, .menu svg:hover{
color: green;
transform: scale(1.2);
}

.card{
  background-repeat:no-repeat;
  color:white;
  height:200px;
  width:400px;
  border-radius:10px;

}


.group{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px;
}
.menu{
  backdrop-filter: saturate(50%) blur(15px);
  z-index:0;
  margin: auto;
  height: 43px;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}


.menuText{
  z-index:11;
}
