*{
  margin: 0;
}
:root{
  --color: rgb(241, 241, 241);
  --bg-color:  rgba(0,0,0,1);
  --bg-gradient:  rgba(45,45,45,1);

}
body{
background:var(--bg-color);
background: linear-gradient(180deg,var(--bg-color) 0%, var(--bg-gradient) 27%);
background-repeat: no-repeat;
height: 100%;
color: var(--color);
transition: 1s; /*for smooth transition animations*/
}
.layouts svg, .mode svg, .menu a svg{
  height: 30px;
  width: 30px;
}
.menu a svg{
  height: 30px;
  width: 30px;
  display:block;
}
.menu a{
  color:rgb(241, 241, 241);
}
.menu a:visited{
  color:rgb(241, 241, 241);  
}
.cardsContainer{
  display: flex;
  flex-direction: column;
}
.groupName{
  font-size: 26px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;

  /* Next is hr above group name */
  border-top: 2px solid grey;
  margin: 0 10px;
  padding-top: 5px;
}

.layouts svg:hover, .menu svg:hover, .mode svg:hover{
color: green;
transform: scale(1.2);
cursor: pointer;
}

.card{
  background-repeat:no-repeat;
  color:white;
  height:200px;
  width:400px;
  border-radius:10px;

}


.group{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px;
}
.menu{
  backdrop-filter: saturate(50%) blur(15px);
  z-index:0;
  margin: auto;
  height: 43px;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
}

.menuText{
  z-index:11;
  padding: 10px;
}
.social{
  margin-left: auto;
}

.settings{
  display:flex;
}
.mode{

  height: 30px;
  margin: 10px;
  margin-left: auto;
}



.footer{
  background: var(--bg-gradient);
  background: linear-gradient(180deg,var(--bg-gradient) 0%,var(--bg-color) 92%);
height: 100px;
color: var(--color);
display: flex;

}
.footer span{
  align-self: flex-end;
}